body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.section {
  display: none;
}

.section.active {
  display: block;
}

#director_box,
#gallery_box,
#cast_box,
#genre_box {
  padding: 30px;
  padding-left: 0px;
  margin: 30px;
  border-bottom: solid 1px rgb(105, 102, 102);
}

#director_input,
input[type=text],
input[type=number],
input[type=file],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

input[type=submit],
input[type=button],
input[type=file] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  font-size: 18px;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-size: 20px;
}

#director_table,
#genre_table,
#gallery_table,
#cast_table {
  margin: 30px;
}

.director_delete {
  background-color: rgb(211, 31, 31) !important;
}

.gallery_img {
  width: 130px;
  height: auto;
}

#movie_wrapper_box {
  display: flex;
  margin: 30px;
}

#movie_box_1,
#movie_box_2 {
  width: 50%;
  margin: 40px;
}

#movie_main_img::-webkit-file-upload-button {
  visibility: hidden;
}

#movie_main_img::before {
  content: 'your wording' !important;
}